@media screen and (max-width: 425px) {
    .seguro-btn{
        font-size: 15px;
    }
    #parallax_uno p {
        font-size: 15px;
    }
    .doctores h2{
        font-size: 25px;
    }
    .agenda-btn{
        font-size: 15px;
    }
    .sumate{
        font-size: 35px;
    }

    #container-seguro .item-seguro h3{
        font-size: 28px;
    }
    
    .plaza-fashion-text {
        font-size: 20px;
    }

    .about-team h2 {
        font-size: 28px;
    }

    .efecto_uno h2 {
        font-size: 28px;
    }

    .item_footer span{
        font-size: 13px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .item_footer span{
        font-size: 13px;
    }
}


@media screen and (min-width: 1200px){
   nav{
    margin-left: 10%;
    margin-right: 10%;
   }
}